<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shain.name %>
</p>

<p>
  <strong>Yakusyoku:</strong>
  <%= @shain.yakusyoku %>
</p>

<p>
  <strong>Kihonkyu:</strong>
  <%= @shain.kihonkyu %>
</p>

<%= link_to 'Edit', edit_shain_path(@shain) %> |
<%= link_to 'Back', shains_path %>
<p>
<%=link_to '起立号令', standup_shain_path %>
</p>
